.teste {
  border: 1px solid red;
  margin: 0 auto;
  padding: 10px;
  color: #333;
}

.content {
  background: #000;
  font-family: Arial;
  font-size: 15px;
}

.content p {
  line-height: 20px;
}

.varios-elementos {
  background: #ccc;
}

.varios-elementos p {
  color: red;
}

.varios-elementos a {
  color: pink;
}

.varios-elementos input {
  border-radius: 20px;
  border-left: solid 1px #eeaeab;
  border-right: solid 1px #ddd;
}

.varios-elementos .botao {
  background: #d5d5d5;
}

.varios-elementos a {
  color: #ce4dd6;
}

.varios-elementos a:hover {
  color: #ffb3ff;
}

.varios-elementos a:visited {
  color: #c458cb;
}

.varios-elementos body, .varios-elementos .classe {
  font-size: 10px;
}

.varios-elementos #navbar {
  width: 800px;
}

.varios-elementos #navbar li {
  float: left;
  width: 150px;
}
