.teste{
  border: 1px solid red;
  margin: 0 auto;
  padding: 10px;
  color: #333;
}

.content{
  background: #000;
  font-family: Arial;
  font-size: 15px;
  p{line-height: 20px; }
}

.varios-elementos{
  background: #ccc;
p{color: red}
a{color: pink}
input{
  border-radius: 20px;
  border-left: solid 1px #eeaeab;
  border-right: solid 1px #ddd;
  }

  $main-color: #d5d5d5;
  .botao{
    background: $main-color;
  }

  a{
    color: #ce4dd6;
    &:hover{color: #ffb3ff;}
    &:visited{color:#c458cb;}
  }

  %qualquer-coisa{
    font-size: 10px;
  }

  body{
    @extend %qualquer-coisa;
  }

  .classe{
    @extend %qualquer-coisa;
  }

  #navbar{
    $navbar-width: 800px;
    $items: 5;
    width: $navbar-width;
    li{
      float: left;
      width: $navbar-width/$items - 10px;
    }
  }
}
